services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards

  node-exporter-node1:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node-exporter-node1
    command:
      # Removed ,rslave option since vms dont support mounts from host file system
      - --path.rootfs=/host
    volumes:
      - "/:/host:ro"
    ports:
      - "9100:9100"

  node-exporter-node2:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node-exporter-node2
    command:
      - --path.rootfs=/host
    volumes:
      - "/:/host:ro"
    ports:
      - "9101:9100"

  node-exporter-node3:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node-exporter-node3
    command:
      - --path.rootfs=/host
    volumes:
      - "/:/host:ro"
    ports:
      - "9102:9100"

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
      - "8080:8080"
